aiofile==3.9.0
aioquic==1.2.0
annotated-types==0.7.0
anyio==4.12.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref>=3.2.10,<=3.8.1
attrs==25.4.0
Authlib==1.6.9
bcrypt==5.0.0
beartype==0.22.9
blinker==1.9.0
brotli>=1.0,<=1.1.0
cachetools==7.0.5
caio==0.9.25
certifi==2026.2.25
cffi==2.0.0
click==8.3.1
cryptography>=42.0,<44.1
cyclopts==4.8.0
dnspython==2.8.0
docstring_parser==0.17.0
docutils==0.22.4
email-validator==2.3.0
exceptiongroup==1.3.1
fastmcp==3.1.0
Flask>=3.0,<=3.1.0
h11>=0.11,<=0.14.0
h2>=4.1,<=4.1.0
hpack==4.1.0
httpcore>=0.16.0
httpx>=0.24.0
httpx-sse==0.4.3
hyperframe>=6.0,<=6.0.1
idna==3.11
importlib_metadata==8.7.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.1.1
jaraco.functools==4.4.0
Jinja2==3.1.6
jsonref==1.1.0
jsonschema==4.26.0
jsonschema-path==0.4.5
jsonschema-specifications==2025.9.1
kaitaistruct==0.11
keyring==25.7.0
ldap3==2.9.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mcp==1.26.0
mdurl==0.1.2
mitmproxy==11.0.2
mitmproxy-macos==0.10.7
mitmproxy_rs==0.10.7
more-itertools==10.8.0
msgpack==1.1.2
openapi-pydantic==0.5.1
opentelemetry-api==1.40.0
packaging==26.0
pathable==0.5.0
platformdirs==4.9.4
publicsuffix2==2.20191221
py-key-value-aio==0.4.4
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.11.0
pylsqpack==0.3.23
pyOpenSSL==25.3.0
pyparsing==3.2.5
pyperclip==1.11.0
python-dotenv==1.2.2
python-multipart==0.0.22
PyYAML==6.0.3
referencing==0.37.0
rich==14.3.3
rich-rst==1.3.2
rpds-py==0.30.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
service-identity==24.2.0
sortedcontainers==2.4.0
sse-starlette==3.3.2
starlette==0.52.1
tornado==6.5.2
typing-inspection==0.4.2
typing_extensions>=4.13.2
uncalled-for==0.2.0
urwid==3.0.3
uvicorn==0.41.0
watchfiles==1.1.1
wcwidth==0.6.0
websockets==16.0
Werkzeug==3.1.6
wsproto==1.2.0
zipp==3.23.0
zstandard==0.25.0
